@page "/"
@*@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]*@

<PageTitle>Film Portal</PageTitle>


<AuthorizeView Policy="@UserPolicy.Registered">
    <NotAuthorized>
        <h1>Film Portal - Anonymous</h1>
        <h4>@context.User.FindFirst("sub")?.Value you are not registered.</h4>
        @*<Register />*@
    </NotAuthorized>
    <Authorized>
        <h1>Film Portal - Registered</h1>
        <h4>@context.User.FindFirst("sub")?.Value is authorized.</h4>
        Welcome to your new app.
    </Authorized>
</AuthorizeView>
