@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<EditForm Model="model" OnValidSubmit="Login">
    <div class="d-flex">
        <InputText id="email" class="form-control me-2" @bind-Value="model.Email" placeholder="Email"></InputText>
        <InputText id="password" type="password" class="form-control me-2" @bind-Value="model.Password" placeholder="Password"></InputText>
        <button type="submit" class="btn btn-success">Login</button>
    </div>
</EditForm>

@code {
    private AuthenticationUserModel model = new();
    string authError = string.Empty;

    private async Task Login()
    {
        //authError = string.Empty;

        var result = await AuthService.Login(model);

        //if (result is null)
        //    authError = "Error logging in.";
        //else
        //    NavManager.NavigateTo("/");
    }
}
