@page "/{Route}"
@inject IAdminService AdminService
@*@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore*@

<PageTitle>Portal</PageTitle>

<AuthorizeView Policy="@UserRole.Admin">
    <Authorized>
        <h1>@title</h1>

        @if (Route.Equals(Routes.Courses))
        {
            <CoursesPortal />
        }

        @if (Route.Equals(Routes.Sections))
        {
            <SectionsIndex />
        }

        @if (Route.Equals(Routes.Register))
        {
            <Register />
        }
    </Authorized>
    <NotAuthorized>
        <h4>You're not authorized to view this page</h4>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter] public string Route { get; set; } = "";
    string title = "";
    string message = "";

    protected override void OnInitialized()
    {
    }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();
        if (Route == null) Route = "Courses";
        title = $"{Route}";
        message = $"How is Blazor working for you? {Route}";
    }
}
